@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@{config.name} v@{config.version}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	@{head}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
	<script src="/messenger/js/default.js"></script>
	<link rel="stylesheet" href="/messenger/css/default.css"></script>
	@{import('favicon.ico')}

	<style>
		.social-oauth2 div { text-align: center; }
		.social-oauth2 a { display: block; background-color: white; padding: 60px 0; border-radius: 4px; }
		.social-oauth2 a span { font-size: 50px; text-decoration: none; }
		.social-oauth2 b { font-size: 14px; display: block; margin: 15px 0 0 0; }
		.social-oauth2 a:hover { text-decoration: none; background-color: #26ABC7; color: white; }
		.social-oauth2 a:active { box-shadow: inset 0 0 10px rgba(0,0,0,0.5); }
	</style>
</head>
<body>
	<div data-jc="loading" class="ui-loading"></div>
	<br />
	<br />
	<div class="ui-center">
		<i class="fa fa-comments-o fa-5x silver"></i>
		<h2 class="mt10">@{config.name}</b></h2>
	</div>
	<br />
	<br />
	<div class="container">
		<div class="col-md-4 col-md-offset-4 enter">
			<!-- <div data-jc="textbox" data-jc-path="user.email" class="m" data-maxlength="120" data-required="true" data-placeholder="@(Enter your email address)" data-autofocus="true" data-jc-type="email">@(E-mail address)</div>
			<div data-jc="textbox" data-jc-path="user.password" data-jc-type="password" data-required="true" class="m" data-maxlength="30" data-placeholder="@(Enter your password)">@(Password)</div>
			<div data-jc="error" data-jc-path="user.response"></div>
			<div data-jc="validation" data-jc-path="user">
				<button class="button button-small b" data-jc="click" data-jc-path="doLogin" data-enter=".enter"><span class="fa fa-lock"></span> @(Sign in)</button>
			</div> -->
			<div class="row social-oauth2">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="/messenger/login/google/">
						<span class="fa fa-google-plus"></span>
						<b>Sign in with Google+</b>
					</a>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="/messenger/login/facebook/">
						<span class="fa fa-facebook"></span>
						<b>Sign in with Facebook</b>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		var user = {};

		SETTER(true, 'loading', 'hide', 500);

		function doLogin() {
			RESET('user.*');
			AJAX('POST /messenger/api/login/', user, function(response) {
				SET('user.response', response);
				response.success && location.reload(true);
			});
		}
	</script>

</body>
</html>
